<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217144392133-kqntkpctqgg6u6caosurmoiqfkveioe4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217144392133-kqntkpctqgg6u6caosurmoiqfkveioe4</string>
	<key>API_KEY</key>
	<string>AIzaSyCakQDXepBzzLLs9jt9HZvjvG7iM-ZKFYc</string>
	<key>GCM_SENDER_ID</key>
	<string>217144392133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Project</string>
	<key>PROJECT_ID</key>
	<string>ciocoholia</string>
	<key>STORAGE_BUCKET</key>
	<string>ciocoholia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217144392133:ios:80fda030b6b1b00e5bb3ac</string>
	<key>DATABASE_URL</key>
	<string>https://ciocoholia.firebaseio.com</string>
</dict>
</plist>